$focus-border-color: #ce3;

.color-container {
    background-color: #444;
    color: #eee;
    border-color: #222;
}
.color-container:focus {
    border-color: $focus-border-color;
}

.color-container-lighter {
    background-color: #4f4f4f;
    color: #eee;
    border-color: #222;
}
.color-container-lighter:focus {
    border-color: $focus-border-color;
}

.color-container-darker {
    background-color: #3f3f3f;
    color: #eee;
    border-color: #222;
}
.color-container-darker:focus {
    border-color: $focus-border-color;
}

.color-actionable {
    background-color: #333;
    color: #eee;
    border-color: #222;
}
.color-actionable.active {
    background-color: #444;
}
.color-actionable:focus {
    border-color: $focus-border-color;
}
