.color-container {
    background-color: #444;
    color: #eee;
    border-color: #222;
}

.color-container-lighter {
    background-color: #4f4f4f;
    color: #eee;
    border-color: #222;
}

.color-actionable {
    background-color: #333;
    color: #eee;
    border-color: #222;
}
.color-actionable.active {
    background-color: #444;
}