.border-left {
  border-left-width: 1px;
  border-left-style: solid;
  box-sizing: border-box;
}

.border-right {
  border-right-width: 1px;
  border-right-style: solid;
  box-sizing: border-box;
}

.border-top {
  border-top-width: 1px;
  border-top-style: solid;
  box-sizing: border-box;
}

.border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.disable-user-select {
  user-select: none;
}