$column-width: 400px;
$collapser-width: 16px;

.column {
  background-color: #444;
  height: 100%;
  width: 20px;
  flex-shrink: 0;
}
.column.open {
  width: $column-width;
}

.column.closed {
  width: $collapser-width;
}

.column-content {
  width: 100%;
}

.column-collapser {
  text-align: center;
  user-select: none;
  cursor: pointer;
  background-color: #666;
  box-sizing: border-box;
  color: #000;
  font-size: 32px;
}

.column-collapser.toggler {
  width: $collapser-width;
}

.column-collapser.barrier {
  width: 2px;
}