@import 'reset';
@import 'group';

$nav-height: 50px;
$column-width: 260px;

body {
  background-color: #111;
  color: #ddd;
  font-family: Sans-Serif;
  height: 100%;
  width: 100%;
}

.full-screen, html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.column {
  background-color: #222;
  width: $column-width;
  height: 100%;
  float: left;
}

.game-window {
  width: calc(100% - #{$column-width});
  height: 100%;
  float: left;
  background-image: url('../img/pattern.png')
}

.nav-bar {
  height: $nav-height;
  width: 100%;
  background-color: #333;
}

.main-content {
  height: calc(100% - #{$nav-height});
  width: 100%;
}


.border-left {
  border-left: 1px solid #000;
  box-sizing: border-box;
}

.border-right {
  border-right: 1px solid #000;
  box-sizing: border-box;
}

.border-top {
  border-top: 1px solid #000;
  box-sizing: border-box;
}

.border-bottom {
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.column-item {
  background-color: #333;
}

.column-item-text {
  background-color: #464646;
  color: #eee;
  padding: 5px;
}

.full-height {
  height: 100%;
}