@import 'reset';
@import 'column';
@import 'collapse';
@import 'bottom';
@import 'inline';
@import 'button';

$nav-height: 50px;

body {
  background-color: #111;
  color: #ddd;
  font-family: Sans-Serif;
  height: 100%;
  width: 100%;
}

.full-screen, html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.game-window {
  width: 100%;
  height: 100%;
  background-image: url('../img/pattern.png');
  flex-shrink: 2;
}

.nav-bar {
  height: $nav-height;
  width: 100%;
  background-color: #333;
}

.main-content {
  height: calc(100% - #{$nav-height});
  width: 100%;
}

.woah {
  width: 100%;
  height: 100%;
}