[submodule "lib/Perdita"]
	path = lib/Perdita
	url = https://github.com/PongoEngine/Perdita
[submodule "lib/Towser"]
	path = lib/Towser
	url = https://github.com/PongoEngine/Towser
[submodule "lib/Pongo"]
	path = lib/Pongo
	url = https://github.com/PongoEngine/Pongo
[submodule "lib/Kha"]
	path = lib/Kha
	url = https://github.com/Kode/Kha
[submodule "lib/Nosey"]
	path = lib/Nosey
	url = https://github.com/PongoEngine/Nosey
