$collapser-width: 16px;

.button {
    padding: 8px 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    display: inline-block;
    user-select: none;
    text-align: center;
    outline: none;
}